.register-form-wrapper {
  border: 1px solid #eee;
  max-width: 350px;
  margin: 150px auto;
  text-align: center;
  box-shadow: 0 3px 15px 4px #cccccc;
  border-radius: 10px;
}

.register-form-title {
  font-family: 'Readex Pro', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 4 * (100vw / 1280)) !important;
  @media (max-width: 767px) {
    font-size: calc(14px + (8 * 0.7) * ((100vw - 320px) / 1280)) !important;
  }
  margin: 10px;
}

.register-form-btn {
  font-family: 'Readex Pro', sans-serif !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px !important;
  background: #f5f5f5!important;
  color: #000000 !important;
  max-width: 180px;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #000 !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
  color: #d32f2f !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #000!important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #d32f2f!important;
}