.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}

.cards .card-body {
  display: inline-flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  display: flex;
  width: 100%;
  object-fit: contain;
}

.card-text {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.read-more {
  font-family: 'Readex Pro', sans-serif !important;
}

.card-title {
  font-family: 'Readex Pro', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 4 * (100vw / 1280)) !important;
  @media (max-width: 767px) {
    font-size: calc(14px + (8 * 0.7) * ((100vw - 320px) / 1280)) !important;
  }
  margin: 10px;
  flex-grow: 3;
}

.cards-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards {
  min-width: 250px;
  width: 20%;
}

@media screen and (max-width: 500px) {
  .cards {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .cards {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .cards {
    width: 30%;
    margin: 15px;
  }
}