.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}

.card-body {
  display: inline-flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img {
  display: flex;
  width: 100%;
  object-fit: contain;
}

.card-text {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 4 * (100vw / 1280));
  @media (max-width: 767px) {
    font-size: calc(20px + (8 * 0.7) * ((100vw - 320px) / 1280));
  }
  margin: 10px;
  flex-grow: 3;
}