section {
  margin: 15px 0;
}

.select {
  font-size: 14px !important;
  font-family: 'Readex Pro', sans-serif;
}

.description-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  text-align: center;
}

.description-block-title {
  max-width: 780px;
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 22 * (100vw / 1280));
  @media (max-width: 767px) {
    font-size: calc(20px + (22 + 22 * 0.7) * ((100vw - 320px) / 1280));
  }
  line-height: calc((20px + 36 * (100vw / 1280)) * 1.2);
  @media (max-width: 767px) {
    line-height: calc((20px + (36 + 36 * 0.7) * ((100vw - 320px) / 1280)) * 1.2);
  }
  margin-bottom: 9px;
}

.description-block-subtitle {
  max-width: 628px;
  font-family: 'Readex Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 55px;
}
